@page "/"
@using AspNetCoreBlazorStateManagement.Pages.CreateReportModule
@using AspNetCoreBlazorStateManagement.Pages.CustomComponents

<PageTitle>Index</PageTitle>

<p>Blazor State Management with nested components..</p>

